.write {
  padding-top: 50px;
}

.write .writeImg {
  margin-left: 10vw;
  width: 70vw;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.writeForm {
  position: relative;
}

.writeFormGroup {
  display: flex;
  align-items: center;
  margin-left: 10vw;
}

.writeIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid;
  font-size: 20px;
  color: rgb(121, 118, 118);
  cursor: pointer;
}

.writeForm .writeInput {
  font-size: 30px;
  border: none;
  outline: none;
  padding: 20px;
  width: 70vw;
}

.writeForm .writeText {
  font-size: 20px;
  height: 100vh;
}

.writeForm .writeSubmit {
  position: absolute;
  top: 20px;
  right: 10vw;
  font-size: 16px;
  color: white;
  background-color: teal;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
